MICROCMS_API_ENDPOINT="https://k35o.microcms.io/api/v1"
MICROCMS_API_KEY=
POSTGRES_URL="postgres://postgres:postgres@db.localtest.me:5432/main"
RESEND_API_KEY=
VERCEL_URL="localhost:3000"
GOOGLE_ANALYTICS_ID=
