TURSO_DATABASE_URL="https://database.localhost"
TURSO_AUTH_TOKEN=dummy
K8O_PUSH_API_KEY=
ALLOWED_EMAILS=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://admin.localhost/
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
