TURSO_DATABASE_URL="https://db.k8o.localhost"
TURSO_AUTH_TOKEN=dummy
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:government03041999@gmail.com
ALLOWED_EMAILS=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://admin.k8o.localhost/
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
