@import '@k8o/arte-odyssey/styles.css';

@utility max-w-container-* {
  max-width: min(--value(--container-*), 100svw - 2rem);
}

@utility max-h-blog-widget {
  max-height: calc(100svh - 10rem);
}

@utility indent-em {
  text-indent: 1em;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
