@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* foreground */
    --text-body: 3 7 18;
    --text-description: 55 65 81;
    --text-link: 37 99 235;
    --text-on-fill: 249 250 251;
    --text-highlight: 15 118 110;
    --text-error: 220 38 38;
    --text-warning: 161 98 7;
    --text-success: 21 128 61;
    --text-info: 37 99 235;

    /* background */
    --bg-base: 249 250 251;
    --bg-primary: 203 213 225;
    --bg-secondary: 226 232 240;
    --bg-tertiary: 248 250 252;
    --bg-code-block: 30 41 59;
    --bg-error: 254 226 226;
    --bg-warning: 254 249 195;
    --bg-success: 220 252 231;
    --bg-info: 219 234 254;
    --bg-hover: 229 231 235;
    --bg-active: 209 213 219;
    --bg-transparent: transparent;
    --bg-back-drop: 0 0 0 0.5;

    /* border */
    --border-primary: 75 85 99;
    --border-secondary: 209 213 219;
    --border-focus: 59 130 246;
    --border-disabled: 209 213 219;
    --border-error: 220 38 38;
    --border-warning: 161 98 7;
    --border-success: 21 128 61;
    --border-info: 37 99 235;
    --border-transparent: transparent;

    /* button */
    --button-primary: 15 118 110;
    --button-hover: 17 94 89;
    --button-active: 19 78 74;

    /* chart */
    --chart-primary: 45 212 191;
    --chart-empty: 243 244 246;

    /* group */
    --group-primary: 45 212 191;
    --group-secondary: 56 189 248;
    --group-tertiary: 129 140 248;
    --group-quaternary: 232 121 249;
  }

  .dark {
    /* foreground */
    --text-body: 249 250 251;
    --text-description: 156 163 175;
    --text-link: 147 197 253;
    --text-on-fill: 3 7 18;
    --text-highlight: 13 148 136;
    --text-error: 220 38 38;
    --text-warning: 161 98 7;
    --text-success: 21 128 61;
    --text-info: 37 99 235;

    /* background */
    --bg-base: 17 24 39;
    --bg-primary: 30 41 59;
    --bg-secondary: 51 65 85;
    --bg-tertiary: 71 85 105;
    --bg-code-block: 15 23 42;
    --bg-error: 254 226 226;
    --bg-warning: 254 249 195;
    --bg-success: 220 252 231;
    --bg-info: 219 234 254;
    --bg-hover: 31 41 55;
    --bg-active: 55 65 81;
    --bg-transparent: transparent;
    --bg-back-drop: 0 0 0 0.5;

    /* border */
    --border-primary: 107 114 128;
    --border-secondary: 75 85 99;
    --border-focus: 59 130 246;
    --border-disabled: 75 85 99;
    --border-error: 220 38 38;
    --border-warning: 161 98 7;
    --border-success: 21 128 61;
    --border-info: 37 99 235;
    --border-transparent: transparent;

    /* button */
    --button-primary: 20 184 166;
    --button-hover: 13 148 136;
    --button-active: 15 118 110;

    /* chart */
    --chart-primary: 94 234 212;
    --chart-empty: 75 85 99;

    /* group */
    --group-primary: 94 234 212;
    --group-secondary: 125 211 252;
    --group-tertiary: 165 180 252;
    --group-quaternary: 240 171 252;
  }

  .app-background {
    background-color: #50e2d2;
    background-image: linear-gradient(
      62deg,
      #50e2d2 0%,
      #0ea5e9 100%
    );
    .dark & {
      background-color: #082f49;
      background-image: linear-gradient(
        62deg,
        #082f49 0%,
        #164e63 100%
      );
    }
  }
}
