.detailsAnimation::details-content {
  interpolate-size: allow-keywords;
  transition:
    height 0.5s ease,
    content-visibility 0.5s ease allow-discrete;
  height: 0;
  overflow: clip;
}

.detailsAnimation[open]::details-content {
  height: auto;
}
