name: 'Chromatic'

on: push

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout branch
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0
      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
      - name: Publish Core to Chromatic
        uses: chromaui/action@ac86f2ff0a458ffbce7b40698abd44c0fa34d4b6
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          skip: 'renovate/**'
          workingDir: packages/core
