name: 'Chromatic'

on: push

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout branch
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0
      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm
      - name: Publish Core to Chromatic
        uses: chromaui/action@5ec258af08deb3e8c36653bd618cb7fe52090031
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          skip: 'renovate/**'
          workingDir: apps/main
