name: ci

on: push

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Run ls-lint
        run: pnpm run ls-lint

      - name: Run check
        run: pnpm biome ci

      - name: Run type check
        run: pnpm run type-check

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Install Playwright
        run: pnpm run install-playwright

      - name: Run test
        run: pnpm run test
