name: Publish ERD
on:
  push:
    branches: 'main'

concurrency:
  group: deploy-erd
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Export schema.sql
        run: pnpm -F core run export:schema

      - name: Generate ER Diagrams
        run: pnpm -F core run build:erd

      - name: Upload ER Diagrams
        id: erd
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b
        with:
          path: packages/core/dist/
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: erd
        uses: actions/deploy-pages@854d7aa1b99e4509c4d1b53d69b7ba4eaf39215a
